.container {
    width: 100%;
    flex: 1 1 0%;
}

.listContainer {
    position: relative;
}

.list {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.menuItemsList > div {
    padding: 0 20px;
}

.dropDown {
    position: absolute;
    top: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background-color: var(--white);
    z-index: 1;
}

.menuButtonContainer {
    display: flex;
    justify-content: flex-end;
}

@media all and (min-width: 1023px) {
    .dropDown {
        top: 80px;
        margin-right: -75px;
    }
}