

.containerComments {
    padding-left: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.containerCommentsButtons {
    margin-top: 10px;
}

.containerCommentsButtons > button:not(:last-child) {
    margin-right: 10px;
}

.bodyComment {

}