.menuItem {
    padding: 12px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.menuItem > div + span {
    margin-left: 7px;
}

.menuItem > svg {
    width: 100%;
    height: 100%;
}

.divider {
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--greyEC);
}

.menuItemsList {
    padding: 0 20px;
}

@media all and (min-width: 320px) and (max-width: 1023px) {
    .desktopOnly {
        display: none;
    }
}