.userLink {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 20px;
    padding: 0 6px 0 0;
}

.league {
    margin-left: 10px;
}

.avatar {
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin: 0 7px 0 0;
}

.username {
    color: var(--orange);
    position: relative;
    z-index: 1;
}

@media all and (min-width: 1024px) {
    .userLink {
        padding: 0 0 0 5px;
    }
}

@media all and (min-width: 1540px) {
    .userLink:hover a {
        text-decoration: underline;
    }
}