.metaData {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 10px;
    line-height: 12px;
}

.reverse {
    flex-flow: nowrap;
    justify-content: flex-start;
}

.reverse > span {
    margin-right: 10px;
}

@media all and (min-width: 1024px) {
    .metaData {
        flex-flow: row-reverse nowrap;
        justify-content: flex-end;
        font-size: 14px;
        line-height: 16px;
    }
}