.modal {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    min-width: 1200px;
    min-height: 160px;
    max-width: 80%;
    padding: 24px;
    margin-bottom: 25px;
}

.content {
    overflow-y: auto;
}

.close {
    align-self: flex-end;
    width: 40px;
    height: 40px;
    margin: -24px;
    color: #000
}